
body {
    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;

    /* display: flex;
    justify-content: center;
    align-items: center; */

    /*Método/truco de Israel*/
    display: grid;
    place-items: center;
}

.general {

    display: grid;
    /* flex-direction: row; */
    grid-template-columns: repeat(2, 2fr);


    
}

.cuadrado1 {

    height: 20em;
    width: 20em;

    background-color: aquamarine;

    margin-left: 2em;

}

.cuadrado2 {

    height: 20em;
    width: 20em;

    background-color: green;
    margin-left: 2em;

}

.cuadrado3 {

    height: 20em;
    width: 20em;

    background-color: salmon;
    margin-left: 2em;

}

.cuadrado4 {

    height: 20em;
    width: 20em;

    background-color: blue;
    margin-left: 2em;

}

@media (max-width: 800px) {
    .general {
        
        grid-template-columns: repeat(1, 1fr);
    }
}

/* @media (max-width: 800px) {
    .general {
        
        flex-direction: column;
    }
} */